
.grid
{ 
  
    /* min-height: 50vh;
    max-height: 100vh;
    background: #fcfcfc;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; */
    
}

.container 
{ 
    padding-top: 50px;
    margin: 0 auto;
    grid-gap: 2.5rem;
    font-family: sans-serif;
    padding-top: 50px;;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content:space-evenly;
    padding-bottom: 50px;
}

@media (min-width: 600px) {
    .container{ grid-template-columns: repeat(3, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

.container .card { 
    position: relative;
}

.container .card .face 
{ 
    width: 400px;
    height: 200px;
    transition: 0.5s;
    border-radius: 3%;
    padding-top: 30px;
}

.container .card .face.face1 
{ 
    
    background:#fff;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 35px 50px -30px rgba(0,0,0,0.2);
    align-items: center;
    z-index: 1;
    /* transform: translateY(100px) ; */
}

.container .card .face:hover.face1 
{
    background: #5933aa;
    transform: translateY(0);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0 55px 50px -17px rgba(0,0,0,0.42);
    transform: translateY(-15px);
}

.container .card:hover .face.face1 
{
    background: #5933aa;
    transform: translateY(0);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0 55px 50px -17px rgba(0,0,0,0.42);
    transform: translateY(-15px);
}

.container .card .face.face1 .content 
{ 
    text-align: center ;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card .face.face1 .content a
{ 
    text-decoration: none; 
}

.container .card:hover .face.face1 .content 
{ 
    opacity: 1;
    transition: ease-in 0.25s;
} 

.container .card .face.face1 .content img
{ 
    max-width: 120px;
} 

.container .card:hover .face.face1 .content img
{ 
    transform: scale(1.2, 1.2);
    transition: 0.5s;
} 

.container .card .face.face1 .content .image 
{ 
    display: none;
    z-index: 100;
} 

.container .card:hover .face.face1 .content .hiddenimg
{ 
    display: none;
    
} 

.container .card:hover .face.face1 .content .image 
{ 
    display: inline;
    z-index: 100;
} 

.container .card .face.face1 .content h3
{ 
    margin: 10px 0 0;
    padding: 0;
    color: #333;
    text-align: center;
    font-size: 1.4em;
} 

.container .card:hover .face.face1 .content h3
{
    transition: 0.1s;
    color: #fff;
}

/* .container .card .face.face2 
{
    position: relative;
    background: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(124, 135, 141, 0.9);
    transform: translateY(-100px);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.container .card:hover .face.face2 
{
    width: 400px;
    height: 400px;
    transform: translateY(0);
   
}

.container .card .face.face2 .content p 
{
margin: 0;
padding: 0;
}

.container .card .face.face2 .content a
{
margin: 15px 0 0;
display: inline-block;
text-decoration: none;
font-weight: 900;
color: #333;
padding: 5px;
border: 1px solid #333;
/*border-radius: 5%;
}

.container .card .face.face2 .content a:hover { 
    background: #333;
    color: #fff;
    transition: ease-out 0.3s;
} */

.videocontainer 
{ 
position: relative;
margin: 0;
padding: 0;
}

.banner 
{
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
}

.banner video 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner #bg 
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff url(/img/ut-logo-bw.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    mix-blend-mode: screen;
}

.logo 
{
    width: 250px;
    height: 250px;
    align-items: center;
    align-content: center;
    justify-items: center;
    /* transform: translateX(580%); */
    padding-top: 30px;
    margin: auto;
}

.firstdiv 
{
    position: relative;
    display: flex;
    justify-content: center;
}

.header 
{
    color: #ff4556;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    line-height: 0px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: -50px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.ftuufoto { 
    max-width: 100px!important;
}
